

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color:#c7c7c7;
}

.login-wrapper {
	width:100%;
	height:90%;
}


#login-wrapper-pusher {
	margin: auto;
	width: 350px;
	height: 16%;
	padding-top: 4%;
}

.login-wrapper-pusher-wrongUserOrPassword {
	margin: auto;
	width: 300px;
	text-align: center;
	height: 30px;
	padding-top: 15px;
	border: 2px solid #f54d4d;
	background-color: #ffcece;
	border-radius: 6px;
	color: #ea2a2a;
	font-weight: bold;
	font-family: arial;
	font-size: 16px;
}

.login-wrapper-pusher-userRegistered {
	margin: auto;
	width: 300px;
	text-align: center;
	height: 30px;
	padding-top: 15px;
	border: 2px solid #68a967;
	background-color: #baf1b7;
	border-radius: 6px;
	color: #53b15f;
	font-weight: bold;
	font-family: arial;
	font-size: 15px;
}

#login-wrapper-container {
	margin:auto;
	width:350px;
	background-color: $mainDark;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 0px #abaaaa;
}


#login-wrapper-container > img {
	height: 100px;
	margin-left: 98px;
}


.login-wrapper-container-fyke {
	text-align: center;
	color: $mainLight;
	font-family: $logoFont;
	font-size: 44px;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom:15px;
}


#login-wrapper-container > input {
	width: 83%;
	margin-left: 7%;
	padding-left: 2%;
	height: 35px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 0px;
	box-shadow: inset 2px 2px 2px 0px #989898;
	font-size: 14px;
	outline:none;
}


#login-wrapper-container > a {
	height: 25px;
	padding:0px;
	border:0px;
	border-radius:2px;
	cursor:pointer;
	margin-bottom:15px;
	outline:none;
	text-align: center;
	padding-top:10px !important;
}

.signup-button,
.login-button {
	margin-left: 7%;
	background-color: $mainDark;
	font-family: helvetica;
	width: 85%;
	float: left;
	border: 1px solid #4a4a4a !important;
	box-shadow: 0px 0px 2px 1px #444444, inset 1px 1px 2px 1px #585858;
	font-size: 14px;
	font-weight: bold;
	color: $mainLight;
}

.button {
	color: $mainLight;    
}

.login-facebook {
	margin-left: 7%;
	background-color: #3B5998;
	font-family: helvetica;
	box-shadow: 0px 0px 2px 1px #444444, inset 1px 1px 4px 0px #5672ad;
	width: 85%;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 30px;
	border: 1px solid #444444 !important;
}

.login-facebook:hover {
	color: white;
}

.login-tab {
	width: 140px;
	height: 32px;
	padding-top: 18px;
	border: 1px solid #444444;
	border-bottom: 0px;
	text-align: center;
	font-family: arial;
	color: #c7c7c7;
	font-weight: bold;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0px -2px 2px 1px #484848, inset 1px 1px 2px 1px #565656;
	cursor: pointer;
	display: inline-block;
}

.login-tab.selected {
	background-color:#757373;
	box-shadow: inset 2px 2px 3px 1px #5a5a5a;
	border:1px solid #4E4E4E;
	border-bottom:0px;
	color:white;
}

.login-button.selected {
	background-color:#757373;
	box-shadow: inset 2px 2px 3px 1px #5a5a5a;
	border:1px solid #4E4E4E !important;
	border-bottom:0px;
	color:white;
}

.login-facebook.selected {
	background-color:#6887c7;
	box-shadow: inset 2px 2px 3px 1px #4b4979;
	color:white;
}

.login-wrapper-container-login {
	margin-left: 7%;
}

.login-wrapper-container-signup {
	margin-left: 4%;
}


.login-footer {
	width:100%;
	height: calc(10% - 20px);
	background-color: #4E4E4E;
	font-family: sans-serif;
	text-align: center;
	color:#bdbdbd;
	padding-top:20px;
}

.login-footer-logo {
	font-family: $logoFont;
	font-size:24px;
	display: inline !important;
	color: red;
	margin:5px;
}
