<img src="./resources/images/fyke.svg" class="header-logo">
<div class='analytics-tab tab {{^isDashboard}} selected {{/isDashboard}}' data-tab='streams'>STREAMS</div>
<div class='dashboard-tab tab {{#isDashboard}} selected {{/isDashboard}}' data-tab='dashboard'>DASHBOARD</div>

{{#isDashboard}}
<div class="dashboard-tab-menu">
	<div class="launcher-container">
		<a class="launcher-icon lock fa fa-lock"></a> 
			<div class='launcher-switch-container'> 
				<div class='launcher-switch'></div>
			</div>
		<a class="launcher-icon unlock fa fa-unlock locked"></a> 
	</div>
	<a class="fa fa-floppy-o dashboard-tab-menu-save"></a> 
</div>
{{/isDashboard}}

<div class='header-menu'>Logout</div>

