<div id="{{index}}">
	<div class="widget-header" data-type="scatter">
		<i class="transparent chart scatter-chart fa fa-th-large" data-type="scatter"></i> 
		<i class="transparent chart bar-chart fa fa-bar-chart" data-type="bar"></i> 
		<i class="transparent chart spider-chart fa fa-asterisk" data-type="spider"></i> 
		<i class="transparent chart line-chart fa fa-line-chart" data-type="line"></i> 
		<i class="transparent chart cancel-chart fa fa-times"></i> 
	</div>
	<div class="chart-container">
	</div>
</div>';