.gridster * {
  margin:0;
  margin-bottom: 50px;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
	margin:0px;
}

html {
    overflow-y:scroll;
}

.header {
	background-color: #4E4E4E;
	color: #F3F3F3;
	width: 100%;
    height: 60px;
	font-family: 'Oswald';
	font-weight: bold;
	font-size: 28px;
	padding-top: 10px;
}

.header-logo {
	height: 60px;
	margin-left: 15px;
	float: left;
	position: relative;
}


.dashboard-tab-menu {
position: relative;
width: 270px;
height: 55px;
float: left;
margin-top: 5px;
margin-left:20px;
}


.dashboard-tab {
margin-left:15px !important;
}

.analytics-tab {
}

.tab {
font-family:'Raleway';
position: relative;
float: left;
height: 33px;
width: 150px;
margin-top: 3px;
margin-left: 100px;
border: 1px solid #C1C0C0;
text-align: center;
font-size: 16px;
padding-top: 18px;
border-radius: 5px 5px 0px 0px;
border-bottom: 5px solid #BFBFBF;
box-shadow: 5px -1px 15px -5px black;
cursor:pointer;
}


.tab.selected {
background-color: #777777;
color: #D8D8D8;
border: 1px solid #868686;
box-shadow: inset 3px 3px 10px -1px #1B1B1B;
border-bottom: 5px solid #D8D8D8;
}



.launcher-container {
width: 125px;
height: 40px;
position: relative;
float: left;
margin-right: 10%;
margin-top: 10px;
}


.launcher-switch-container {
width:60px;
height:35px;
border:1px solid gray;
border-left: 0px;
border-radius: 30px;
position:relative;
cursor: pointer;
background-color:#696969;
box-shadow: inset 2px 1px 4px 0px black;
float:left;
margin-left:20px;
}



.launcher-switch {
position: absolute;
height:33px;
width:33px;
border-radius:30px;
border:1px solid #5F5F5F;
background-color:#BDBDBD;
margin-left: 25px;
-moz-transition-duration: 400ms;
-o-transition-duration: 400ms;
-webkit-transition-duration: 400ms;
transition-duration: 400ms;
}

.launcher-switch.locked {
margin-left:-1px;
box-shadow: 2px 0px 5px 0px #333333;
background-color: #F3F5F6;
}


.launcher-icon {
font-size:24px !important;
position: relative !important;
margin-top:8px;
-moz-transition-duration: 400ms;
-o-transition-duration: 400ms;
-webkit-transition-duration: 400ms;#5F5F5F
transition-duration: 400ms;
}


.launcher-icon.locked {
 color: whitesmoke;
 font-size:36px !important;
 margin-top:0px;
}

.lock {
	width:15px;
	float:left;
	color:gray;
}

.unlock {
	width:15px;
	float:right;
	color:gray;
}


.dashboard-tab-menu-save {
	margin-left: 25px;
	margin-top: 14px;
	font-size: 30px;
	color: white;
	cursor: pointer
}

.dashboard-tab-menu-save:hover {
	color:white;
}


.header-menu{
	width: 200px;
	float: right;
	font-family: sans-serif;
	cursor:pointer;
}

/*
################
DASHBOARD ######
################
*/


.wrapper {
	width:95%;
	height:85vh;
	position:relative;
	margin:auto;
	margin-top:30px;
	text-align:center;
}

.sub-wrapper {
	height:inherit;
}


.controls {
	margin-bottom: 20px;
}



.gridster ul {
	background-color: #F1F0F0;
	border: 1px solid #C7C2C2;
	border-radius: 8px;
}

.disabled {
	border: 1px solid transparent !important;
}


.gridster div {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
}

.gridster {
	margin: 0 auto;
	opacity: .8;

	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gs-w {
border: 1px dotted #6B6B6B;
}



.widget-header {
	height: 50px;
	border-bottom: 1px dotted #6B6B6B;
	border-radius: 5px 5px 0px 0px;
	margin:0px;
	-webkit-transition: background-color 400ms, -webkit-transform 400ms;
	transition: background-color 400ms, transform 400ms;
}

.widget-header:hover {
	background-color: #C5C5C5;
	border-radius: 5px 5px 0px 0px;
}


.chart-wrapper {
height:100%;
}

.widget-header > input {
margin: 6px 6px 3px 6px;
border: 0px;
padding: 0px 6px 0px 3px;
background-color: transparent;
height: calc(100% - 9px);
width: calc(100% - 21px);
font-family: 'Oswald';
font-size: 16px;
border-radius: 5px 5px 0px 0px;
-webkit-transition: background-color 600ms, -webkit-transform 600ms;
transition: background-color 600ms, transform 600ms;
}

.widget-header > input:focus {
    outline: none !important;
    background-color:#ECECEC;
}


.chart-container {
	display: flex;
	height: calc(100% - 50px);

}


.cancel-chart {
	right: 15px;
	width:15px;
}

.line-chart {
	right: 44px;
}

.spider-chart {
	right: 76px;
}

.bar-chart {
	right: 106px;
}

.scatter-chart {
	right: 138px;
}

.scatter-chart:hover,
.bar-chart:hover,
.line-chart:hover,
.spider-chart:hover,
.cancel-chart:hover{
	color: gray;
	border: 1px solid gray;
}


.chart {
	-webkit-transition: color 200ms, -webkit-transform 200ms;
	transition: color 200ms, transform 200ms;
	transition: display 200ms, opacity 200ms linear;
	padding: 4px;
	border:1px solid #424242;
	position: absolute;
	color:#424242;
	border-radius:2px;
	top: 15px;
	box-shadow: 2px 2px 2px 0px gray;
}

.chart.selected {
	color: #C5C5C5;
	background-color: #424242;
	border: 1px solid #424242;
	box-shadow: inset 2px 2px 2px 0px black;
}

.chart.selected:hover {
	color: white;
}


.gridster .gs-w {
	border-radius: 5px 5px 0px 0px;
	background: #DCDCDC;
	cursor: pointer;
}

.gridster .player {
	background: #BBB;
}

.gridster .preview-holder {
	border: none!important;
	background: gray!important;
}

.hidden {
	display: none !important;
}

.transparent {
	opacity:0.15;
}

.no-hover {
	cursor:default !important;
}


.line {
	stroke: gray;
	stroke-width: 1px;
	fill: transparent
}

.axis path,
.axis line {
	fill: transparent;
	stroke: gray;
	shape-rendering: crispEdges;
	}
	
.spider-label,
.x,
.y {
	font-family: arial;
	font-size:11px;
	font-weight: bold;
}






/* STREAMBOARD 	 */



.stream-list-item-input {
	width:98%;
	margin-bottom:6px;
}


.stream-container {
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius:5px;
}

.stream-list {
	display:inline;
	height:inherit;

}


.stream-list-container{
	float:left;
	position: relative;
	width: 39%;
	height: 100%;
	overflow:auto;
}

.stream-manipulation {
	height:inherit;
}

.stream-manipulation-container{
	float:right;
	position: relative;
	width: 59%;
	height: 100%;
}



.stream-list-adder {
	font-size: 60px !important;
	color:#424242;
}

.stream-list-adder:hover {
	color:gray;
	cursor: pointer;
}


.stream-list-item-header {
    text-align: left;
    margin-left: 10px;
    margin-top:2px;
    font-size: 15px;
    font-weight:bold;
    font-family: sans-serif;
    width: 40%;
    float:left;
    color:#424242;
}

.stream-list-item-cancel {
	float: right;
    margin-right: 8px;
    margin-top: 2px;
    color:gray;
    cursor:pointer;
}

.stream-list-item-cancel:hover {
	color:black;
}


.stream-list-item {
	height: 77px;
	width: 95%;
	border: 1px solid #c3c3c3;
	margin: 2.5%;
	background-color: white;
	padding-top:3px;
}

.stream-list-item-status {
	text-align: left;
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	border-radius:15px;
}

.stream-list-item-status.ok {
	background-color: #5eda5e;
}


.stream-list-item.unconnected {
	height: 220px;
}


.stream-list-item-wrapper {
	float: left;
    display: inline;
    width: 100%;
    text-align: left;
    margin-top:6px;
}

.stream-list-item-wrapper input {
	width: 95%;
	margin-left:2%;
	height:18px;
	border:1px solid #afafaf;
	background-color: #e6e6e6;
}

.stream-list-item-wrapper label {
	font-family: sans-serif;
	font-size: 14px;
	color:#424242;
	margin-left:2%;
}

.submit-stream {
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    float: right;
    margin-right: 15px;
}