.gridster * {
  margin:0;
  margin-bottom: 50px;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
	margin:0px;
}


.header {
background-color: gray;
color: white;
width: 100%;
height: 70px;
font-family: sans-serif;
font-weight: bold;
font-size: 28px
}

.wrapper {
	width:90%;
	height:85vh;
	position:relative;
	margin:auto;
	margin-top:30px;
	text-align:center;
}

.placeholder-box {
	border: 2px dotted #E6E6E6;

	margin-top: 50px;
	margin-bottom:50px;
	padding-top:20px;
	text-align:center;
	font-size: 96px;
	vertical-align: middle;
	height: 160px

}


.button-wrapper {
	position: relative;
	width: 650px;
 	margin:auto;
 	margin-top: 15px;
}


.controls {
	margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
	background-color: transparent;
	border: 2px dotted #B2B2B2;
	padding-bottom: 5px;
}

.gridster div {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
}


.gridster {
	margin: 0 auto;
	opacity: .8;

	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gs-w {
border: 1px dotted #B2B2B2;
}

.freeze-block,
.addBlock {
	margin-top: 50px !important;
	margin:auto;
	position: relative;
	display: block;
	font-size: 70px !important;
	cursor: pointer;
	width:80px;
	color:gray;
}

.freeze-block:hover,
.addBlock:hover {
	color:black;
}


.locked,
.locked:hover 
{
	color: #E6E6E6;
	cursor:default;
}	




.cancel-box {
	position: absolute;
	color:#424242;
	right: 15px;
	top: 15px;
}

.line-chart {
	position: absolute;
	color:#424242;
	right: 40px;
	top: 15px;
}

.spider-chart {
	position: absolute;
	color:#424242;
	right: 70px;
	top: 15px;
}

.bar-chart {
	position: absolute;
	color:#424242;
	right: 100px;
	top: 15px;
}

.bar-chart:hover,
.line-chart:hover,
.spider-chart:hover,
.cancel-box:hover{
	color: gray;
}




.chart.selected {
	color: blue;
}

.chart.selected:hover {
	color: orange;
}


.selector-box {
	border: 2px dotted #D8D8D8;
	display:block;
	position: relative;
	float:left;
	color:gray;
	margin: 0px 70px 30px 0px;
	width:30px !important;
	height:30px !important;
	font-size:50px;
	text-align: center;
	font-weight: bold;
	padding: 6px 3px 0 3px;
}

.selector-box.select {
	background-color: whitesmoke;
	border: 2px dotted whitesmoke
	
}


.selector-box:hover {
	border: 2px dotted whitesmoke;
	color:gray;
	cursor: pointer;
}



.gridster .gs-w {
	background: #E6E6E6;
	cursor: pointer;
}

.gridster .player {
	background: #BBB;
}


.gridster .preview-holder {
	border: none!important;
	background: gray!important;
}

.hidden {
	display: none !important;
}

.no-hover {
	cursor:default !important;
}


.line {
	stroke: gray;
	stroke-width: 1px;
	fill: transparent
}

.axis path,
.axis line {
	fill: transparent;
	stroke: #D8D8D8;
	shape-rendering: crispEdges;
	}
	
.spider-label,
.x,
.y {
	font-family: arial;
	font-size:11px;
	font-weight: bold;
}

