.gridster * {
  margin:0;
  margin-bottom: 50px;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/
/* demo
/*/


body {
	margin:0px;
}

html {
    overflow-y:scroll;
}


.header {
	background-color: #4E4E4E;
	color: white;
	width: 100%;
	height: 90px;
	font-family: 'Oswald';
	font-weight: bold;
	font-size: 28px;
	padding-top: 10px;
}

.title-container {
    left: 110px;
    font-size: 50px;
    position: absolute;
    top: 15px;
}

.launcher {
	position: absolute;
	left: 80%;
	font-size: 30px;
	top: 35px;
	width:190px;
}

.launcher:hover {
	color:#FFC65D;
	cursor: pointer;
}

.launcher-label {
font-size:20px;
font-family:Arial;
position:relative;
float:left;
font-weight: 600;	
}

.launcher-icon {
 float:right;
 top:-5px;
}


.locked,
.locked:hover 
{
	color: #717171;
	cursor:default;
}	



.wrapper {
	width:90%;
	height:85vh;
	position:relative;
	margin:auto;
	margin-top:30px;
	text-align:center;
}


.controls {
	margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
	background-color: #F1F0F0;
	border: 1px solid #C7C2C2;
	border-radius: 8px;
}

.gridster div {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
}

.gridster {
	margin: 0 auto;
	opacity: .8;

	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gs-w {
border: 1px dotted #6B6B6B;
}



.widget-header {
	height: 50px;
	border-bottom: 1px dotted #6B6B6B;
	border-radius: 5px 5px 0px 0px;
	margin:0px;
	-webkit-transition: background-color 400ms, -webkit-transform 400ms;
	transition: background-color 400ms, transform 400ms;
}

.widget-header:hover {
	background-color: #C5C5C5;
	border-radius: 5px 5px 0px 0px;
}


.chart-container {
	display: flex;
	height: calc(100% - 50px);

}


.cancel-chart {
	right: 15px;
	top: 15px;
	width:15px;
}

.line-chart {
	right: 44px;
	top: 15px;
}

.spider-chart {
	right: 76px;
	top: 15px;
}

.bar-chart {
	right: 106px;
	top: 15px;
}

.scatter-chart {
	right: 138px;
	top: 15px;
}

.scatter-chart:hover,
.bar-chart:hover,
.line-chart:hover,
.spider-chart:hover,
.cancel-chart:hover{
	color: gray;
	border: 1px solid gray;
}


.chart {
	-webkit-transition: color 200ms, -webkit-transform 200ms;
	transition: color 200ms, transform 200ms;
	transition: display 200ms, opacity 200ms linear;
	padding: 4px;
	border:1px solid #424242;
	position: absolute;
	color:#424242;
	border-radius:2px;
	top: 15px;
	box-shadow: 2px 2px 2px 0px gray;
}

.chart.selected {
	color: #C5C5C5;
	background-color: #424242;
	border: 1px solid #424242;
	box-shadow: inset 2px 2px 2px 0px black;
}

.chart.selected:hover {
	color: white;
}


.gridster .gs-w {
	border-radius: 5px 5px 0px 0px;
	background: #DCDCDC;
	cursor: pointer;
}

.gridster .player {
	background: #BBB;
}

.gridster .preview-holder {
	border: none!important;
	background: gray!important;
}

.hidden {
	display: none !important;
}

.transparent {
	opacity:0.15;
}

.no-hover {
	cursor:default !important;
}


.line {
	stroke: gray;
	stroke-width: 1px;
	fill: transparent
}

.axis path,
.axis line {
	fill: transparent;
	stroke: gray;
	shape-rendering: crispEdges;
	}
	
.spider-label,
.x,
.y {
	font-family: arial;
	font-size:11px;
	font-weight: bold;
}

